<!-- html结构 -->
<template>
  <div class="{{upperCase name}}">
    
  </div>
</template>

<!-- vue(Ts)代码 -->
<script setup lang="ts" name="{{name}}">

</script>
<!-- 样式设置 -->
<style lang="scss" scoped>

</style>
